# Dependencias
node_modules/

# Base de datos
database.sqlite
database.backup.sqlite

# Logs
*.log
npm-debug.log*

# Archivos de entorno
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Build
dist/
build/
